body {
  margin: 0px;
  padding: 0px;
}

:root {
  /* icon */
  --icon-color: #212121;
  --icon-bg-color: #efedff;
  --icon-hover-color: #5218ef;
  --icon-disable-color: #a0abba;

  /* button */
  --button-create-main:#5119f0;
  --button-create-hover:#3900b9;
  --button-create-disabled:#b6b5ff;
}

.IconWithBg {
  width: 20px;
  height: 20px;
  padding: 8px;
  background-color: #efedff;
  color: #5119f0;
  border-radius: 4px;
}

.Footers {
  width: 100%;
  height: 39px;
  font-size: 10px;
  background-color: #EFEDFF;
  border-top: 1px solid #5119F0;
  border-radius: 0 0 4px 4px;
  color: #8F8F8F;

  display: flex;
  justify-content: center;
  align-items: center;
}
